/* regras footer__container, footer__logo, footer__copy etc. */

.footer__container{
    row-gap: 2.5rem;
}

.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: var(--mb-2-5);
    transition: .3s;
}

.footer__logo-icon{
    font-size: 1.15rem;
    color: var(--first-color);
}

.footer__logo:hover{
    color: var(--first-color);
}

.footer__title{
    font-size:var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
}

.footer__data{
    color: var(--text-color);
    display: grid;
    row-gap: .75rem;
}

.footer__information{
    font-size: var(--small-font-size);
}

.footer__social{
    display: inline-flex;
    column-gap: .75rem;
}

.footer__social-link{
    font-size: 1.5rem;
    color: var(--first-color);
    transition: .3s;
}

.footer__social-link:hover{
    transform: translateX(.5rem);
    color: var(--first-color-alt);
}

.footer__cards{
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}

.footer__card{
    width: 35px;
    border-radius: 10%;
}

.footer__copy{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin: 5rem 0 1rem;
}



/* active-link */

.active-link{
    position: relative;
    color: var(--first-color);
}

.active-link::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--first-color);
}

/* SCROLL UP */

.scrollup{
    position: fixed;
    background-color: var(--first-color);
    right: 1rem;
    bottom: -30%;
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup__icon{
    font-size: 1rem;
    color: #fff;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
    opacity: 1;
}

.show-scroll{
    bottom: 3rem;
}

/* ======================SCROLL BAR============================= */

::-webkit-scrollbar{
    width: .6rem;
    background-color:#babdb8 ;
}

::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
    border-radius: .5rem;
}


/* =================BREAKPOINTS========================= */

/* PARA DISPOSITIVOS PEQUENOS */

@media screen and (min-width:50px) {
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .home__img{
        width: 180px;
    }
    .home__title{
        font-size: var(--h1-font-size);
    }
    .home__social{
        font-size: var(--smaller-font-size);
        right: -1.85rem;    
    }
    .product__container{
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .product__circle{
       top: 5%;
       left: -5%;
       width: 60px;
       height: 60px; 
    }

    .ccontainer{
        grid-template-columns: 1fr;
    }

}

/* PARA DISPOSITIVOS MEDIOS */
@media screen and (min-width:576px) {
    .product__description{
        padding: 0 4rem;
    }

    .product__container{
        grid-template-columns: repeat(2,170px);
        justify-content: center;
        column-gap: 5rem;
    }
    .ccontainer{
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 767px) {
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__menu{
        margin-left: auto;
    }

    .home__container,
    .about__container,
    .contact__container,
    .footer__container{
    
        grid-template-columns: repeat(2,1fr);
    }

    .home{
        padding: 10rem 0 5rem;
    }

    .home__container{
        align-items: center;
        
    }
    .home__img{
        width: 280px;
        order: 1;
    }

    .home__social{
        top: 30%;
    }
    .footer__container{
        column-gap: 3rem;
    }
    .ccontainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* PARA DISPOSITIVOS GRANDES */


@media screen and (min-width: 992px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{ 
        padding: 8rem 0 1rem;
    }

    .section__title,
    .section__title-center{
        font-size: var(--h1-font-size);
    } 

    .home{
        padding: 13rem 0 5rem;
    }

    .home__img{
        width: 350px;
    }

    .home__description{
        padding-right: 7rem;
    }

    .about__img{
        width: 380px;
        height: 380px;
    }

    .product__description{
        padding: 0 16rem;
    }

    .product__container{
        padding: 4rem 0;
        grid-template-columns: repeat(2, 185px);
        gap: 4rem 6rem;
    }

    .product__img{ 
        width: 160px;
    }
    .product__circle{
        width: 110px;
        height: 110px;
    }

    .product__title,
    .product__price{
        font-size: var(--normal-font-size);
    }
    .ccontainer{
        grid-template-columns: repeat(3, 1fr);
    }











    .footer__logo{
        font-size: var(--h3-font-size);
    }

    .footer__container{
        grid-template-columns: 1fr .5fr .5fr .5fr;
    }

    .footer__copy{
        margin: 7rem 0 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .home__social{
        right: -3rem;
        row-gap: 4.5rem;
    }
    .home__social-follow{
        font-size: var(--small-font-size);
    }

    .home__social-follow::after{
        width: 1.5rem;
        right: -60%;
    }

    .home__social-link{
        font-size: 1.15rem;
    }
    
    .about__container{
        column-gap: 7rem;
    }

    .scrollup{
        right: 3rem;
    }
}