<section class="home" id="home">
            <div class="home__container container grid">
                <img src="avt.png" alt="" class="home__img">
                <div class="home__data">
                    <h1 class="home__title">
                        Olá, eu sou <br>
                        <div class="anima">
                            <span class="diar typing">Bruno Euflausino</span>
                        </div>
                        
                    </h1>
                    <p class="home__description">
                        Desenvolvedor Backend
                    </p>
                    <a href="#about" class="button button--flex">Mais aqui <i class="ri-arrow-right-down-line button__icon"></i></a>
                </div>
                <div class="home__social">
                    <span class="home__social-follow">Contato</span>
                    <div class="home__social-links">
                        <a href="https://github.com/Euflausino" class="home__social-link" target="_blank"><i class="ri-github-fill"></i></a>
                        <a href="https://www.linkedin.com/in/bruno-euflausino-597b912a7/" class="home__social-link" target="_blank"><i class="ri-linkedin-fill"></i></a>
                    </div>
                </div>
            </div>
           
        </section>
