 <section class="product section container" id="project">
            <h2 class="section__title-center">
                Projetos
            </h2>

            <p class="product__description">
                Estes são os projetos desenvolvidos por mim.<br>
            </p>
            <div class="product__container grid">

                
                    
                <div class="ccontainer">
                    <div class="card">
                      <div class="face face1">
                        <img src="image.png" alt="">
                      </div>
                      <div class="face face2">
                        <div class="content">
                            <h3>API para gerenciar transações</h3>
                            <p>Desafio para pessoas desenvolvedoras backend junior </p>
                                <a href="https://github.com/Euflausino/desafioBackend" type="button">Repositório</a>
                        </div>
                      </div>
                   </div>
                   
                   <div class="card">
                      <div class="face face1">
                            <img src="links.png" alt="">
                      </div>
                      <div class="face face2">
                        <div class="content">
                                <h3>LINKS</h3>
                                <p> projeto links foi desenvolvido para facilitar o contato entre o cliente e eu.</p>
                                <a href="https://github.com/Euflausino/Links" type="button">Repositório</a>
                                <a href="https://links-eight-iota.vercel.app/" type="button">Ver site</a>
                        </div>
                      </div>
                   </div>
                   
                   
                   <div class="card">
                      <div class="face face1">
                        <img src="todo.png" alt="">
                        <div class="content">
                            
                        </div>
                      </div>
                      <div class="face face2">
                        <div class="content">
                            
                                <h3>API de gerenciamento de tarefas</h3>
                                <p> Desafio para pessoas desenvolvedoras backend junior.</p>
                                <a href="https://github.com/Euflausino/panelaVelha" type="button">Repositório</a>
                        </div>
                      </div>
                   </div>
                 </div>
                    
    
                    

                                              

               
                

                
               
            </div>
           


           
        </section>